*{
	padding: 0;
	margin: 0;
}

body{
	width: 100%;
	height: 100%;
}

.banner_container{
    width: 1020px;
    height: 580px;
    margin: 80px auto 0;
    position: relative;
}

.banner_content{
	width: 396px;
	height: 530px;
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -198px;
}

.banner_content li{
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	-webkit-transform: all 0.3s ease;
	   -moz-transform: all 0.3s ease;
	    -ms-transform: all 0.3s ease;
	     -o-transform: all 0.3s ease;
	        transform: all 0.3s ease;
}

.banner_content img{
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.banner_content span{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.banner_content .banner_pos1 {
    z-index: 1;
    width: 310px;
    height: 417px;
    top: 60px;
    transform: translate3d(-310px,0,0)
}

.banner_content .banner_pos2 {
    z-index: 2;
    width: 360px;
    height: 482px;
    top: 20px;
    transform: translate3d(-170px,0,0)
}

.banner_content .banner_pos3 {
    z-index: 3;
    width: 396px;
    height: 531px;
    top: 0;
    transform: translateZ(0)
}

.banner_content .banner_pos4 {
    z-index: 2;
    width: 360px;
    height: 482px;
    top: 20px;
    transform: translate3d(200px,0,0)
}

.banner_content .banner_pos5 {
    z-index: 1;
    width: 310px;
    height: 417px;
    top: 60px;
    transform: translate3d(390px,0,0)
}

.banner_left {
    left: -70px
}

.banner_left,.banner_right {
    position: absolute;
    top: 50%;
    margin-top: -35px
}

.banner_right {
    right: -60px
}

.banner_menu {
    width: 100px;
    height: 15px;
    margin: 40px auto 0
}

.banner_menu li {
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 50%;
    position: relative;
    background: #ccc;
    margin: 0 5px;
}

.banner_menu .active,.banner_menu li:hover{
	background: #599100;
}